<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Add your Azure Blob Storage connection string here -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=saagilityhealthlocal;AccountKey=42zG0f5WRZbGf0gRaFkj30wyV+kAUNDXuhpRH+35NnYjT87NdbLQc25Iy4FXRQkRFiOYRcQpwi28JZ1a8zJiqw==;EndpointSuffix=core.windows.net" />
    <add key="StorageAccountName" value="saagilityhealthlocal" />
    <add key="StorageAccountKey" value="42zG0f5WRZbGf0gRaFkj30wyV+kAUNDXuhpRH+35NnYjT87NdbLQc25Iy4FXRQkRFiOYRcQpwi28JZ1a8zJiqw==" />
  </appSettings>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=WingtipToys;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
</configuration>