<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Add your Azure Blob Storage connection string here -->
    <add key="StorageConnectionString" value="" />
    <add key="StorageAccountName" value="" />
    <add key="StorageAccountKey" value="" />
    <add key="ContainerName" value="SmartzContainer" />
    <add key="AgencyId" value="117"/>
  </appSettings>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=WingtipToys;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
</configuration>